{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
</head>
<body>
    <h1>Book List</h1>
    <a href="/books/lab10_part2/addbook">Add New Book</a>
    <div class="main">
        {% for book in books %}
            Title: {{book.title}}<br>
            {% if book.author %}Author: {{book.author}}<br>{% endif %}
            Price: {{book.price}}<br>
            {% if book.edition %}Edition: {{book.edition}}<br>{% endif %}
            <a href="/books/lab10_part2/editbook/{{book.id}}">Edit</a>
            <a href="/books/lab10_part2/deletebook/{{book.id}}">Delete</a>
            <hr/>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}