{% extends "layouts/base.html" %}
{% block content %}
<h1 id="title-listing">The Best Features of the internet</h1>
<ul>
    <li>you can meet new people from countries around the world</li>
    <li>you have access to new media as it becomes public</li>
    <ul>
        <li>new games</li>
        <li>new apps</li>
        <ol>
            <li>for business</li>
            <li>for pleasure</li>
        </ol>
        <li>around the clock news</li>
        <li>search engines</li>
        <li>shopping</li>
        <li>programming</li>
        <ol>
            <li>XML</li>
            <li>java</li>
            <li>HTML5</li>
            <li>java script</li>
            <li>new languages</li>
        </ol>
    </ul>
    <li>links</li>
    <li>keep in touch with old friends</li>
    <li>it's the tech of the furutre</li>
</ul>
{% endblock content %}