{% extends "layouts/base.html" %}
{% block content %}
<h1 id="h1-text-formatting">Example of formatting tags</h1>
<p>this text has <b>subset</b> using b tag</p><br>
<p>this text has <strong>subset</strong> using strong tag</p><br>
<p>this text has <i>subset</i> using i tag</p><br>
<p>this text has <em>subset</em> using em tag</p><br>
<p>this text has <small>subset</small> using small tag</p><br>
<p>this text has <mark>subset</mark> using mark tag</p><br>
<p>this text has <del>subset</del> using del tag</p><br>
<p>this text has <ins>subset</ins> using ins tag</p><br>
<p>this text has X<sub>subset</sub> using sub tag</p><br>
<p>this text has X<sup>subset</sup> using sup tag</p><br>
{% endblock content %}